<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fred.docent.mapper.GalleryMapper">

	<insert id="insertGallery">
		insert into galleries(gallery_id, gallery_name,
		gallery_location, gallery_number)
		values(seq_gallery.NEXTVAL,
		#{gallery_name}, #{gallery_location}, #{gallery_number})
	</insert>

	<select id="list" resultType="GalleryDTO">
		SELECT * FROM galleries
		WHERE
		gallery_valid = 1
	</select>

	<update id="invalidate" parameterType="String">
		UPDATE galleries
		SET
		gallery_valid = 0
		WHERE gallery_name = #{gallery_name}
	</update>

	<update id="update">
		update galleries set gallery_name = #{gallery_name},
		gallery_location = #{gallery_location}, gallery_number = #{gallery_number}
		where gallery_id = #{gallery_id}
	</update>

</mapper>